@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

:root {
    --primary-cream: hsl(30, 38%, 92%);
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-darker-cyan: hsl(159, 31%, 22%);
    --dark-blue: hsl(212, 21%, 14%);
    --gray-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-cream);
}

h1 {
    font-family: 'Fraunces', serif;
}

i {
    padding-right: 10px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: var(--primary-dark-cyan);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--white);
}

.btn:hover {
    background: var(--primary-darker-cyan);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    background: var(--white);
    border-radius: 10px;
    margin: 200px;
    width: 640px;
    height: 465px;
}

/* For larger screens */
.image-desktop {
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
    padding-right: 200px;
}

.card-info {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 35px;
    text-align: start;
}

.name {
    line-height: 1.9rem;
    color: var(--dark-blue);
    margin-right: 40px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--gray-blue);
    letter-spacing: 0.3rem;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--gray-blue);
    line-height: 1.5rem;
       
}

.pricing {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.current-price {
    color: var(--primary-dark-cyan);
}

.discounted-price {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    color: var(--gray-blue);
    font-size: 15px;
    margin-right: 40px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 653px) {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        margin: 120px;
        padding-bottom: 700px;
    }

    .card img {
        display: none;
    }

    .image-desktop {
        display: none;
    }

    .image-mobile {
        background-image: url(/images/image-product-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 250px; /* Adjust the height as per your design */
    }
}