@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

:root {
    --primary-cream: hsl(30, 38%, 92%);
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --dark-blue: hsl(212, 21%, 14%);
    --gray-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-cream);
}

h1 {
    font-family: 'Fraunces', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    align-items: start;
    text-align: center;
    background: var(--white);
    border-radius: 10px;
    margin: 200px;
    width: 650px;
    height: 500px;
}

.card img {
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
    text-align: start;
    margin-right: 40px;
    
}

.card-info h1 {
    line-height: 1.9rem;
    /* padding-bottom: 20px; */
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--gray-blue);
    letter-spacing: 0.5rem;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--gray-blue);
    /* padding-bottom: 20px; */
    
}

.pricing {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.current-price {
    color: var(--primary-dark-cyan);
}

.discounted-price {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    color: var(--gray-blue);
    font-size: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }